Repository slicelife/fetch-secrets, changes with the labels that .github/labeler.yml gives for each.
All labels: terraform, yaml, json, markdown, dependencies, html, docs, go, make

Revert "GitHubActions migration clean up (#5)"
  .github/workflows/release.yaml
Labels: yaml

Revert "GitHubActions migration clean up (#5)" (#7)
  .github/workflows/release.yaml
Labels: yaml

Address PR comments and bump deps and go version
  .github/.dependabot.yml
  .golangci.yml
  Makefile
  README.md
  go.mod
  go.sum
Labels: yaml, markdown, dependencies, docs, make

Add `generate` target and update mods
  Makefile
  README.md
  go.mod
  go.sum
Labels: markdown, dependencies, docs, make

fix typo in readme
  README.md
Labels: markdown, docs

.github/labeler.yml:

# Add 'terraform' label to any .tf file changes
terraform:
  - "**/*.tf"

# Add 'yaml' label to any .yaml file changes
yaml:
  - "**/*.yaml"
  - "**/*.yml"

# Add 'json' label to any .json file changes
json:
  - "**/*.json"

# Add 'markdown' label to any .md file changes
markdown:
  - "**/*.md"

# Add 'dependencies' label if poetry.lock changes
dependencies:
  - "go.mod"

# Add 'html' label to any .html file changes
html:
  - "**/*.html"

# Add 'documentation' label to any changes under docs/ directory
docs:
  - "docs/**"
  - README.md

# Add 'go' label to any .go file changes
go:
  - "**/*.go"

# Add 'make' label to Makefile file changes
make:
  - "Makefile"
